<div id="sign-in">
	<button id="sign-in-btn" class="nav-item btn btn-outline-success my-2 my-sm-0 hidden" type="submit">Sign In</button>
	<div id="sign-in-user" class="nav-item dropdown hidden">
		<a class="nav-link dropdown-toggle" href="#" id="sign-in-user-name" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			User
		</a>
		<div class="dropdown-menu dropdown-menu-right" aria-labelledby="sign-in-user">
			<a id="profile-btn" class="dropdown-item" href="#">Profile</a>
			<a id="new-post-button-right-now" class="dropdown-item" href="#">New Post</a>
			<a id="sign-out-btn" class="dropdown-item text-danger" href="#">Sign Out</a>
		</div>
	</div>
</div>