<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/head %>
	</head>
<body data-gr-c-s-loaded="true">
	<%- include ./partials/navbar %>
	<br> <br>
	<main role="main">
	  <div class="jumbotron">
	    <div class="container">
	    	<!-- picture of big youtube channels as background -->
	      <h1 class="display-3">Pagimo?</h1>
	      <h6>Pagimo is an investment platform accessible to average users, avid sponsors, or business professionals wishing to parttake in the rapid development of Creators on various online platforms. Purchasing shares of a creator channel enables you to engage in business conversations with the creator and cash in on their growth.</h6>
	      <p><a class="btn btn-primary btn-lg" href="about" role="button">Learn more »</a></p>
	    </div>
	  </div>

	  <div class="container">
	    <div class="row">
	      <div class="col-md-4">
	        <h2>Leaderboards</h2>
	        <hr><br>
	        	<ul class="list-unstyled">
        		  <li>
        		    <div class="media">
			     <div class="media-left">
			      <img src="img/vsauce.jpg" class="media-object" style="width:200px;height:200px">
			     </div>
			     <h3 class="media-heading">1. Wsauce</h4>
			   </div>
        		  </li>
        		  <br>
        		  <li>
        		    <div class="media">
			     <div class="media-left">
			      <img src="img/lele.jpg" class="media-object" style="width:200px;height:200px">
			     </div>
			     <h3 class="media-heading">2. Pele Lons</h4>
			   </div>
        		  </li>
        		  <br>
        		  <li>
        		    <div class="media">
			     <div class="media-left">
			      <img src="img/marshmello.jpg" class="media-object" style="width:200px;height:200px">
			     </div>
			     <h3 class="media-heading">3. SharmLemmo</h4>
			   </div>
        		  </li>
	        	</ul>
	        </div>
	      </div>
	    </div>
	  </div> <!-- /container -->
	</main>
	<%- include ./partials/footer %>
</body>
</html>