<!DOCTYPE html>
<html>
<%- include  ./partials/head %>
<body data-gr-c-s-loaded="true">
    <%- include ./partials/navbar %>
    <main role="main">
		<p>Investors Page</p>
    </main>
    <footer class="container">
	<%- include ./partials/footer %>
</body>
</html>