<!DOCTYPE html>
<html>
<%- include  ./partials/head %>
<body data-gr-c-s-loaded="true">
    <%- include ./partials/navbar %>
    <main role="main">
		<h1>Investment Dashboard</h1>
		<div class="jumbotron" style="padding:30px">
			<div class="row">
				<h3>Tokens: </h3>
				<h3 id="tokenCount" style="padding-left: 10px">100</h3>
			</div>
			<hr>
			<div class="row">
			<div class="col-md-3">
			  <form class="mx-20 my-auto d-inline w-20" _lpchecked="1">
          	  	<div class="input-group">
              	  <input type="text" class="form-control" placeholder="USD">
                	  <span class="input-group-append">
              	    <button class="btn btn-primary btn-lg" type="button">Deposit</button>
               	  </span>
           	  	</div>
       		  </form>
       		</div>
       		<div class="col-md-7" style="padding-left: 320px">
			  <form class="mx-20 my-auto d-inline w-20" _lpchecked="1">
          	  	<div class="input-group">
              	  <input type="text" class="form-control" placeholder="Tokens">
                	  <span class="input-group-append">
              	    <button class="btn btn-primary btn-lg" type="button">Withdraw</button>
               	  </span>
           	  	</div>
       		  </form>
       		</div>
			</div>
		</div>
		<div class="jumbotron" style="padding:30px">
			<h3>Investing</h3><hr>
		</div>
		<div class="jumbotron" style="padding:30px">
			<h3>Portfolio</h3><hr>
		</div>		
    </main>
	<%- include ./partials/footer %>
</body>
</html>