<!DOCTYPE html>
<html>
<%- include  ./partials/head %>
<body data-gr-c-s-loaded="true">
    <%- include ./partials/navbar %>
    <main role="main">
		<h1>Investment Dashboard</h1>

		<div class="jumbotron" style="padding:30px">
			<div class="row">
				<h3 style="padding-left: 15px">Tokens: </h3>
				<h3 id="tokenCount" style="padding-left: 10px">100</h3>
			</div>
			<hr>
			<div class="row">
			<div class="col-md-3">
			  <form class="mx-20 my-auto d-inline w-20" id="depositForm" _lpchecked="1">
          	  	<div class="input-group">
              	  <input type="text" class="form-control" id="depositIn" placeholder="USD">
                	  <span class="input-group-append">
              	    <button class="btn btn-primary btn-lg" type="submit">Deposit</button>
               	  </span>
           	  	</div>
       		  </form>
       		</div>
       		<div class="col-md-3"></div>
       		<div class="col-md-3">
			  <form class="mx-20 my-auto d-inline w-20" id="withdrawForm" _lpchecked="1">
          	  	<div class="input-group">
              	  <input type="text" class="form-control" id="withdrawIn" placeholder="Tokens">
                	  <span class="input-group-append">
              	    <button class="btn btn-primary btn-lg" type="submit">Withdraw</button>
               	  </span>
           	  	</div>
       		  </form>
       		</div>
			</div>
		</div>

		<div class="jumbotron" style="padding:30px">
			<div class="row">
				<h3 style="padding-left: 15px">Investments</h3>
			</div>
			<hr>
			<div class="row">
			<div class="col-md-4">
			  <form class="mx-20 my-auto d-inline w-20" id="buyForm" _lpchecked="1">
          	  	<div class="input-group">
              	  <input type="text" class="form-control" id="buyIn" placeholder="Channel">
                	  <span class="input-group-append">
              	    <button class="btn btn-primary btn-lg" type="submit">Buy</button>
               	  </span>
           	  	</div>
       		  </form>
       		</div>
       		<div class="col-md-2"></div>
       		<div class="col-md-4">
			  <form class="mx-20 my-auto d-inline w-20" id="sellForm" _lpchecked="1">
          	  	<div class="input-group">
              	  <input type="text" class="form-control" id="sellIn" placeholder="Channel">
                	  <span class="input-group-append">
              	    <button class="btn btn-primary btn-lg" type="submit">Sell</button>
               	  </span>
           	  	</div>
       		  </form>
       		</div>
			</div>
		</div>

		<div class="jumbotron" style="padding:30px">
			<h3>Portfolio</h3><hr>
			<ul class="list-unstyled">
				<div class="row">
					<div class="col-md-3">
						<h5>Channel</h5> 
					</div>
					<div class="col-md-3">
						<h5>Number of Shares</h5>
					</div>
					<div class="col-md-3">
						<h5>Current Share Value</h5>
					</div>
					<div class="col-md-3">
						<h5>Original Share Value</h5>
					</div>
				</div>
				<div class="row" style="padding-top: 10px">
					<div class="col-md-3">
						DewPieDie
					</div>
					<div class="col-md-3">
						35
					</div>
					<div class="col-md-3">
						16.04
					</div>
					<div class="col-md-3">
						13.76
					</div>
				</div>
			</ul>
		</div>	
    </main>
	<%- include ./partials/footer %>
</body>
</html>